# Environment
.env
.env.local
.venv
venv/

# Playwright Sessions & Cookies
my_playwright_profile_*/
my_playwright_profile_1/
my_playwright_profile_2/
my_playwright_profile_3/
my_playwright_profile_4/
my_playwright_profile_5/
storage/
cookies/
*.txt
recovered/
# Logs & Screenshots
logs/
*.log
screenshots/

# Python Cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Temp & Recovered
recovered/
pip.txt
api_keys.txt
